[submodule "external/json-storage"]
	path = external/json-storage
	url = https://github.com/dotJEM/json-storage
[submodule "external/json-index"]
	path = external/json-index
	url = https://github.com/dotJEM/json-index
